-
  let aroundTownPictures = [
    {
      url: "/assets/img/gallery/around-town/adenike-at-wazobia.jpg",
      fileName: "adenike-at-wazobia.jpg",
      title: "Adenike with Olive and Esther on Hello Nigeria on Wazobia Max and Wazobia TV"
    },
    {
      url: "/assets/img/gallery/around-town/adenike-at-channels.jpg",
      fileName: "adenike-at-channels.jpg",
      title: "Adenike with Kunle Kasumu, Channels TV Book Club"
    },
    {
      url: "/assets/img/gallery/around-town/adenike-in-tvc.jpg",
      fileName: "adenike-in-tvc.jpg",
      title: "Adenike on TVC with BeeCee Ugboh, Morayo Afolabi-Brown, Akashat Ny'mat, Mariam Longe"
    },
    {
      url: "/assets/img/gallery/around-town/adenike-on-arise-tv.jpg",
      fileName: "adenike-on-arise-tv.jpg",
      title: "Adenike on Arise TV with Taye Taylor, Labo Daniel and Hotmamaari"
    },
    {
      url: "/assets/img/gallery/around-town/adenike-at-cool-fm.jpg",
      fileName: "adenike-at-cool-fm.jpg",
      title: "Adenike at Cool FM Lagos"
    },
    {
      url: "/assets/img/gallery/around-town/adenike-at-hot-fm.jpg",
      fileName: "adenike-at-hot-fm.jpg",
      title: "Adenike at Hot FM"
    },
    {
      url: "/assets/img/gallery/around-town/adenike-on-stv-today.jpg",
      fileName: "adenike-on-stv-today.jpg",
      title: "Adenike on STV today"
    }
  ]