-
  let aroundTownPictures = [
    {
      fileName: "adenike-at-wazobia.jpg",
      title: "Adenike with Olive and Esther on Hello Nigeria on Wazobia Max and Wazobia TV"
    },
    {
      fileName: "adenike-at-channels.jpg",
      title: "Adenike with Kunle Kasumu, Channels TV"
    }
  ]