-
  let quotes = [{
    quote: "Adenike’s book is a story of hope, faith, strength, family and friend- ship. Her book contains a little bit of something that makes us reflect on our lives and the society we live in. There is a teaspoon of hope (perhaps more) for anyone who reads it.",
    cite: 'Remi Owadokun',
    instagram_handle: '',
    instagram_photo_url: ""
    },
    {
      quote: "This book takes what we think we know about this amazing woman to another level. She leaves her heart and soul on these pages, seemingly leaving nothing back. This is not just a book you read; it's a book you feel",
      cite: "Uzo Orimalade (Creative Director, Uzo's Food Labs)",
      instagram_handle: '',
      instagram_photo_url: ""
    },
    {
      quote: "Though I am a bit of an introvert, you have really motivated me. I don’t have to be inferior or feel bad when rejected, I should get closer to God.",
      cite: "Liz",
      instagram_handle: "Niffy30",
      instagram_photo_url: ""
    },
    {
      quote: "Through the twists and turns my darling you came out unscathed like the three Hebrew boys, who were defiant even at the face of death…… this book evokes a lot of emotions but most importantly it awakens the fighting spirit in you. It is for everyone who needs to fight one more round.",
      cite: "Olubusola Martins",
      instagram_handle: "BusolaMartins",
      instagram_photo_url: "https://instagram.flos7-1.fna.fbcdn.net/vp/6704571d26e0bee2542ae77abf1b1a3d/5D059192/t51.2885-19/11357355_1401062936889559_1002531322_a.jpg?_nc_ht=instagram.flos7-1.fna.fbcdn.net"
    },
    {
      quote: "I’m not going to lie and say I have somehow found strength all of a sudden but I know I am finding hope and the essence of staying positive and steadfast and trusting in God and I don’t know how long I would take me to heal but from your journey, I know impossible is nothing and all things are possible. ",
      cite: "Bee",
      instagram_handle: "",
      instagram_photo_url: ""
    },
    {
      quote: "It is a masterpiece story told from the perspective of our father. It was second book of the year and I enjoyed every page. In fact, I kept reading small small so e no go finish.",
      cite: "Adebola Salako-Kupoluyi",
      instagram_handle: "AdebolaHavillah",
      instagram_photo_url: "https://instagram.flos7-1.fna.fbcdn.net/vp/ea3b2008d9572a6ff433c0ee35ab306b/5D0EAD81/t51.2885-19/s150x150/15534998_244658262630489_1926754322196987904_a.jpg?_nc_ht=instagram.flos7-1.fna.fbcdn.net"
    },
    {
      quote: "The most significant thing I picked from it is the act of being grateful. I started my #gratitudejarchallenge yesterday.",
      cite: "Ayanda Funmilola",
      instagram_handle: "Iamdunnifunmi",
      instagram_photo_url: "https://instagram.flos7-1.fna.fbcdn.net/vp/738273541b7abcb06144aaae2397e4a7/5D0EBC7E/t51.2885-19/s320x320/16908548_1047628915380444_6797328213174386688_a.jpg?_nc_ht=instagram.flos7-1.fna.fbcdn.net"
    },
    {
      quote: "Your book is an amazing roller coaster of emotions. When you were going through your trying times, I could relate and had teary eyes. Thank you so much for sharing your journey with the world. God bless you. ",
      cite: "Uzo",
      instagram_handle: "",
      instagram_photo_url: ""
    },
    {
      quote: "You mean GOD IS ALWAYS ALWAYS in a good mood!?! He told you to tell us He is always in a good mood? Adenike do you reckon? Can you just imagine what I can get out and off of someone who LOVES me, is in love WITH me and is ALWAYS in a good mood!?!",
      cite: "Uzo O",
      instagram_handle: "",
      instagram_photo_url: ""
    },
    {
      quote: "I’m just so amazed at the opportunity you’ve given people to hear your story and to hear God’s story of salvation for us, most importantly. Most people won’t put a salvation prayer in their book! God bless you! I am moved to live more, enjoy life more, try more and love more – especially God. I am pressured to become a better version of me.",
      cite: "Kweenkung",
      instagram_handle: "Kweenkung",
      instagram_photo_url: "https://instagram.flos7-1.fna.fbcdn.net/vp/cbcd37c1b1a849f37d0d4a105df8efac/5D0322B7/t51.2885-19/s320x320/23594283_162768954458426_3981364069834686464_n.jpg?_nc_ht=instagram.flos7-1.fna.fbcdn.net"
    },
    {
      quote: "Trust me when I say you will never read this book and remain the same. You will get schooled. Family, love, strength, the importance of friendship and many more are so many things you will read and learn about from here. I usually read very fast but reading this book, I found myself taking a break several times just to stare into space and think. I also asked myself some serious questions. You are one strong woman and the world should of you………if only to read about your dad and understand selflessness and fatherhood netter, more young men should read this. ",
      cite: "Ayo Al",
      instagram_handle: "Thatsaucywriter",
      instagram_photo_url: "https://instagram.flos7-1.fna.fbcdn.net/vp/7151da8bfc3253c45db137a14bf2841e/5D2004A9/t51.2885-19/s320x320/49310750_235270827360424_7814532015402778624_n.jpg?_nc_ht=instagram.flos7-1.fna.fbcdn.net"
    },
    {
      quote: "God is always in a good mood…… your book is a treasure. I learnt a fresh for what gratitude truly means.",
      cite: "Ebukun Fowowe-Adesina",
      instagram_handle: "fowobaf",
      instagram_photo_url: "https://instagram.flos7-1.fna.fbcdn.net/vp/79236d33ee055590ff595cf3e90cc93e/5D187A91/t51.2885-19/s320x320/44559296_896271523902907_2599350603092066304_n.jpg?_nc_ht=instagram.flos7-1.fna.fbcdn.net"
    },
  ]